{
  "plugins": ["react", "react-native", "prettier"],
  "extends": ["plugin:react-native/all", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "react-native/react-native": true
  },
  "rules": {
    "prettier/prettier": "error",
    "react-native/no-unused-styles": "error",
    "react-native/split-platform-components": "error",
    "react-native/no-inline-styles": "error",
    "react-native/no-color-literals": "error",
    "react-native/no-raw-text": "error"
  }
}
